<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cybersecurity UA LOGIN</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
  </head>
  <body>
    <h1>LOGIN</h1>
    {{ if . }}
    <div class="error">
    {{ . }}
    </div>
    {{ end }}
    <form method="POST">
      <div>Username: <input name="username"></input></div>
      <div>Pass: <input name="password" type="password"></input></div>
      <div>
        <button type="submit">LOGIN</button>
      </div>
    </form>

  </body>
</html>
